/*Colors*/
$main: #eb4d4c;
$white: #ffffff;
$lightgrey: #f7f7f7;
$grey: #e4e3e3;
$textDark: #494949;
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $textDark;
}

.line {
  &1 {
    height: 20vh;
    padding-top: 2vh;
  }
  &2 {
    height: 50vh;
  }
  &3 {
    min-height: 12.5vh;
  }
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: $lightgrey;
}

.player {
  height: 100vh;
  width: 50vw;
  &-details {
    width: 50%;
    margin: auto;
    h2 {
      font-weight: 100;
      font-size: 4vw;
      letter-spacing: 0.3vw;
    }
    p {
      font-size: 6vw;
      font-weight: 100;
      color: $main;
    }
  }
  &-hand {
    width: 25%;
    margin: auto;
    background-color: $main;
    h4 {
      font-size: 1vw;
      letter-spacing: 0.2vw;
      margin-bottom: 0;
    }
    p {
      font-size: 3vw;
      font-weight: 100;
      color: $white;
      margin-bottom: 1vh;
    }
  }
  &__active {
    background-color: $grey;
    h2 {
      font-weight: 300;
    }
    p {
      font-weight: 300;
    }
  }
}

.options {
  position: absolute;
  top: 0;
  left: 35%;
  height: 100vh;
  width: 30vw;
  .option {
    width: 50%;
    margin: auto;
    button {
      letter-spacing: 0.2vw;
      font-size: 1vw;
      i {
        color: $main;
        font-weight: 300;
        font-size: 1.3vw;
        margin-right: 0.7vw;
      }
    }
    .dice {
      width: 10vw;
      height: 10vw;
      margin: auto;
      background-image: url("../img/dice.svg");
      background-position: center center;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 95%;
        height: 95%;
        margin: auto;
      }
    }
  }
}

.modals {
  .rules-modal {
    .modal-button {
      position: fixed;
      bottom: 10px;
      right: 10px;
      i {
        font-size: 1.3vw;
        color: $main;
      }
    }
  }
}

/* Rotate your phone animation */
.phone-instructions {
  display: none;
}
@media only screen and (orientation: portrait) {
  .phone,
  .message {
    display: block;
  }
  main, .modals {
    display: none;
  }
  html,
  body {
    background: $lightgrey;
    height: 100%;
    width: 100%;
  }
  .phone-instructions {
    padding-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .phone {
    height: 50px;
    width: 100px;
    border: 3px solid $main;
    border-radius: 10px;
    animation: rotate 1.5s ease-in-out infinite alternate;
  }
  .message {
    color: $textDark;
    font-size: 1em;
    margin-top: 40px;
    span{
      color: $main;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
